# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environment
venv/
env/
.venv/
.env/
ENV/
.envrc

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# pytest cache
.pytest_cache/

# mypy cache
.mypy_cache/

# VS Code settings
.vscode/
*.code-workspace

# JetBrains IDEs (PyCharm, IntelliJ, etc.)
.idea/
*.iml
out/

*.log
*.key


lab.py
lab.ipynb

logs/
data/
test/
models/